lab4/solution/Proxy/Simplex.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tav/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tav/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Simplex Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tav/">
      <s:element name="sum_1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sum_1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sum_1Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sum_2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="d" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sum_2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sum_2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sum_1SoapIn">
    <wsdl:part name="parameters" element="tns:sum_1" />
  </wsdl:message>
  <wsdl:message name="sum_1SoapOut">
    <wsdl:part name="parameters" element="tns:sum_1Response" />
  </wsdl:message>
  <wsdl:message name="sum_2SoapIn">
    <wsdl:part name="parameters" element="tns:sum_2" />
  </wsdl:message>
  <wsdl:message name="sum_2SoapOut">
    <wsdl:part name="parameters" element="tns:sum_2Response" />
  </wsdl:message>
  <wsdl:portType name="SimplexSoap">
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sum of 2 int</wsdl:documentation>
      <wsdl:input name="sum_1" message="tns:sum_1SoapIn" />
      <wsdl:output name="sum_1" message="tns:sum_1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Concat">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Concatination of string and double</wsdl:documentation>
      <wsdl:input name="sum_2" message="tns:sum_2SoapIn" />
      <wsdl:output name="sum_2" message="tns:sum_2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimplexSoap" type="tns:SimplexSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tav/sum_1" style="document" />
      <wsdl:input name="sum_1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sum_1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Concat">
      <soap:operation soapAction="http://tav/sum_2" style="document" />
      <wsdl:input name="sum_2">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sum_2">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SimplexSoap12" type="tns:SimplexSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tav/sum_1" style="document" />
      <wsdl:input name="sum_1">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sum_1">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Concat">
      <soap12:operation soapAction="http://tav/sum_2" style="document" />
      <wsdl:input name="sum_2">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sum_2">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Simplex">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Simplex Service</wsdl:documentation>
    <wsdl:port name="SimplexSoap" binding="tns:SimplexSoap">
      <soap:address location="https://localhost:44349/Simplex.asmx" />
    </wsdl:port>
    <wsdl:port name="SimplexSoap12" binding="tns:SimplexSoap12">
      <soap12:address location="https://localhost:44349/Simplex.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>